{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <section class="py-5 mt-5"></section>
    <section></section>
    <section class="py-5" style="margin-top: -62px;">
        <div class="container" style="margin-bottom: 70px;">
            <div class="row" style="margin-bottom: -82px;">
                <div class="col-md-4 col-xxl-3 mb-5"><img class="rounded img-fluid" src="{% static 'img/d6ae39c949c731f5bd799dc975827ae8.jpg' %}" style="width: 233.325px;"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div class="row gy-4 row-cols-1 row-cols-md-2 flex-grow-1">
                        <div class="col-xxl-8">
                            <div class="card border-light border-1 d-flex justify-content-center p-4" style="border-style: none;">
                                <div class="card-body">
                                    <div>
                                        <h4 class="fw-bold">Модератор БОТ 100₽</h4>
                                        <p class="text-muted d-none d-xl-block">инструмент для модерации чата, который обеспечивает мониторинг общения и выдачу варнов и мутов за нецензурные выражения.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 align-self-center">
                            <button class="btn btn-primary" data-bss-hover-animate="swing" type="button" style="background: rgb(113,195,255);border-style: none;margin-top: 0px;">
                            Купить
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom: 72px;">
            <div class="row" style="margin-bottom: -82px;">
                <div class="col-md-4 col-xxl-3 mb-5"><img class="rounded img-fluid" src="{% static 'img/acfa0bb04a490eedeecc449204aff959.jpg' %}" style="width: 233.325px;"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div class="row gy-4 row-cols-1 row-cols-md-2 flex-grow-1">
                        <div class="col-xxl-8">
                            <div class="card border-light border-1 d-flex justify-content-center p-4" style="border-style: none;">
                                <div class="card-body">
                                    <div>
                                        <h4 class="fw-bold">Шутник БОТ</h4>
                                        <p class="text-muted d-none d-xl-block">забавный и развлекательный бот, который создан для поднятия настроения и добавления юмора в ваш чат. Он предлагает шутки, анекдоты, игры слов и другие забавные контексты, чтобы разнообразить общение и сделать его более интересным.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 align-self-center"><button class="btn btn-primary disabled" type="button" style="background: rgb(113,195,255);border-style: none;margin-top: 0px;" disabled="">В разработке..</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom: 72px;">
            <div class="row" style="margin-bottom: -82px;">
                <div class="col-md-4 col-xxl-3 mb-5"><img class="rounded img-fluid" src="{% static 'img/3a280bc8ae1a7076d552b9e04be69f7e.jpg' %}" style="width: 233.325px;"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div class="row gy-4 row-cols-1 row-cols-md-2 flex-grow-1">
                        <div class="col-xxl-8">
                            <div class="card border-light border-1 d-flex justify-content-center p-4" style="border-style: none;">
                                <div class="card-body">
                                    <div>
                                        <h4 class="fw-bold">GPT БОТ</h4>
                                        <p class="text-muted d-none d-xl-block">твой верный компаньон в общении! Он всегда готов поддержать разговор, ответить на вопросы и поделиться советом. Просто напиши ему, и наслаждайся приятной беседой без утомительного поиска слов.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 align-self-center"><button class="btn btn-primary disabled" type="button" style="background: rgb(113,195,255);border-style: none;margin-top: 0px;" disabled="">В разработке..</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock content %}